[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
	branch = master
[submodule "beamer-didactic"]
	path = beamer-didactic
	url = https://github.com/dbosk/beamer-didactic.git
